<script setup>
import { DotsCircleHorizontalIcon } from "@heroicons/vue/outline";
const props = defineProps({
  to: [String, Object],
  href: String,
  loading: [Boolean, Object],
  class: String,
  type: String,
});
</script>
<template>
  <button
    :type="props.type"
    v-if="!props.to && !props.href"
    @click="$emit('click')"
    :class="props.class"
    class="
      items-center
      border border-transparent
      
      font-medium
      rounded-md
    "
  >
    <div  v-if="loading" class="flex justify-center">
    <DotsCircleHorizontalIcon
     
      class="animate-spin h-5 w-5"
    ></DotsCircleHorizontalIcon>
    </div>
    <slot v-else></slot>
  </button>
  <router-link v-else-if="props.to" :to="props.to" v-slot="{ navigate }">
    <button
      @click="navigate"
      :class="props.class"
      class="mx-4 items-center border border-transparent font-medium rounded-md"
    >
      <slot></slot>
    </button>
  </router-link>
  <a
    v-else
    :href="href"
    :class="props.class"
    class="
      items-center
      border border-transparent
     
      font-medium
      rounded-md
    "
  >
    <slot></slot>
  </a>
</template>
<style>
.btn-grad {
  background-size: 200% auto;
  transition: 0.5s;
  /* background-image: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%); */
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
  @apply m-3 py-4 px-11 text-center uppercase text-white shadow-md rounded-xl block;
}
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btn-xs {
  @apply px-3 py-0.5 text-xs shadow-sm;
}
.btn-sm {
  @apply px-3 py-1 text-sm shadow-sm;
}
.btn-base {
  @apply px-4 py-2 text-sm shadow-sm;
}
.btn-lg {
  @apply px-4 py-2 text-base shadow-md;
}
.btn-xl {
  @apply px-6 py-3 text-base shadow-md;
}
.btn-primary {
  @apply bg-primary hover:bg-primary-dark   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary text-white;
}
.btn-white {
  @apply bg-gray-100 hover:bg-primary-dark hover:text-white  focus:text-white   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary text-secondary focus:bg-primary;
}

/* .btn-grad {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 } */
</style>
