<script setup>
import {onMounted} from "vue"
import "leaflet/dist/leaflet.css";
import L from "leaflet"

   const center = [6.838349796667976, 37.756979259523014]

   const setupLeafletMap = () => {
     const map = L.map("mapContainer").setView(center, 16);
     const marker = L.marker([6.838349796667976, 37.756979259523014]).addTo(map);
     marker.bindTooltip("YACOB INTERNATIONAL HOTEL").openTooltip()
     L.tileLayer(
       'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
     ).addTo(map);
   }

    onMounted(() => {
        setupLeafletMap()
    })
</script>
<template>
  <div id="container" class="grid grid-cols-3">
    <div></div>
    <div></div>
    <div id="mapContainer" class="h-96 w-full rounded-xl"></div>
  </div>
</template>