@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

.grecaptcha-badge {
  opacity: 0;
}

.modal,
.overlay {
  @apply fixed top-0 left-0 w-full h-full;
}

.overlay {
  @apply bg-gray-600 opacity-70 z-40 cursor-pointer;
}

.modal {
  @apply z-50 flex justify-center items-center;
}

.text-grad{
  background: -webkit-linear-gradient(#DD5E89, #F7BB97, #DD5E89);
  /* background: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%); */
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 /* .text-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 } */

